.menu {
    position: absolute;
width: 428px;
height: 926px;
left: 0px;
top: 0px;
flex-wrap: wrap;
background: #21E8E5;
}

img{
   
    flex-direction: column;
   justify-content: space-around;
width: 130px;
height: 130px;
margin: 0;
}
p {
    text-transform: uppercase;
}
.menuItems {
    flex-wrap: wrap;
}