

.startPage{
    position: absolute;
    width: 428px;
    height: 926px;
    left: 0px;
    top: 0px;
    overflow: hidden;
    background: #FFE84A;
}
.barBtn a {
    position: absolute;
width: 276px;
height: 76px;
left: 71px;
top: 828px;

background: #FFFFFF;
}
.startBtn  {
    /* Start */
  
  position: absolute;
  width: 121px;
  height: 72px;
  left: 148px;
  top: 828px;
  
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  
  /* identical to box height, or 150% */
  text-align: center;
  
  color: #282828;
  
  }

  h2 {
    text-transform: uppercase;    
position: absolute;
width: 99px;
height: 72px;
left: 292px;
top: 592px;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 72px;

/* identical to box height, or 150% */
text-align: center;

color: #FFFFFF;
  }
h1 {
    text-transform: uppercase;
    position: absolute;
width: 373px;
height: 144px;
left: 32px;
top: 646px;

font-family: 'Outfit';
font-style: normal;
font-weight: 900;
font-size: 96px;
line-height: 72px;

/* or 75% */
text-align: center;

color: #FFFFFF;
}
.pinkDonut {
    position: absolute;
    width: 301px;
    height: 330px;
    left: 147px;
    top: 166px;
    
    
}

.whiteDont {
    position: absolute;
    width: 255px;
    height: 273px;
    left: -42px;
    top: -36px;
}

.triangle {
    position: absolute;
width: 1470px;
height: 1510px;
left: 0px;
top: 180px;
rotate: 25deg;
background: #FF86B3;
z-index: -0;
}

.sparkles {
    /* objects */

position: absolute;
left: 0%;
right: -0.11%;
top: -0.02%;
bottom: -0.14%;
}