
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;600;700;800;900&display=swap');


#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  margin: 0 auto;
  z-index: -3;
  overflow: hidden;
}
